* 
    margin: 0
    padding: 0
    border: none
    outline: none
    box-shadow: none
    box-sizing: border-box
    color: inherit
    background: unset
    font-family: inherit
    border-radius: 0

a
    text-decoration: none
    color: inherit

button
    cursor: pointer
    font-size: inherit

img
    vertical-align: bottom


:root
    --green: #6fc9a8
    --green-dark: #2E775A
    --black: #0F1D2D
    --blue: #254B77
    --red: #E81A0C

html
    color-scheme: light

@font-face
    font-family: 'NT Somic'
    src: url('./../fonts/NTSomic-Regular.woff2') format('woff2')
    font-weight: 400
    font-style: normal
    font-display: swap
@font-face
    font-family: 'NT Somic'
    src: url('./../fonts/NTSomic-Medium.woff2') format('woff2')
    font-weight: 500
    font-style: normal
    font-display: swap
@font-face
    font-family: 'NT Somic'
    src: url('./../fonts/NTSomic-Bold.woff2') format('woff2')
    font-weight: 700
    font-style: normal
    font-display: swap

body
    font-family: 'NT Somic'
    font-weight: 400
    font-size: 1.125rem
    line-height: 1.3
    color: var(--black)
    position: relative

main
    display: flex
    flex-direction: column
    gap: 140px

.sup-vertical
    position: absolute
    top: 0
    bottom: 0
    width: 1px
    height: 100%
    background-color: #E6E6E6
    z-index: -1
    &-left
        left: 25px
    &-right
        right: 25px
    &-middle
        right: 50%
        top: -140px
        bottom: -140px
        height: calc( 100% +  280px)

.sup-horizontal
    position: absolute
    right: 0
    left: 0
    width: 100%
    height: 1px
    background-color: #E6E6E6
    z-index: -1
    &-last
        bottom: 25px
    &-bottom
        bottom: -25px
    &-top
        top: -25px
    &-map
        top: 70px

.icon-svg
    display: block

.container
    width: 100%
    max-width: 1440px
    padding: 0 48px
    margin: 0 auto

.form-row
    margin-bottom: 40px

.input,
.select
    display: block
    width: 100%
    border-bottom: 1px solid var(--black)
    font-size: 1.125rem
    font-weight: bold
    padding-bottom: 16px
    &:focus-visible
        padding-bottom: 15px
        border-bottom: 2px solid var(--black)
    &.is-error
        border-color: var(--red)

.input-title
    font-size: 1rem
    color: rgba(15, 29, 45, 0.50)
    margin-bottom: 6px
    &__required
        color: var(--red)
        font-family: Inter
        font-size: 0.875rem
        margin-left: 4px

.btn-file
    position: relative
    overflow: hidden
    min-width: 60px
    height: 60px
    padding: 18px
    background-color: #fff
    display: flex
    align-items: center
    justify-content: center
    border-radius: 8px
    transition: all 0.3s
    cursor: pointer
    .icon-svg
        width: 24px
        height: 24px
    &__name
        display: none
        margin-right: 16px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        max-width: 10ch
    &__cancel
        display: none
        position: relative
    input[type="file"]
        position: absolute
        left: -999px
    &.is-active
        .btn-file
            &__upload
                display: none
            &__name,
            &__cancel
                display: block

.btn
    position: relative
    overflow: hidden
    background: none
    border: 1px solid var(--blue)
    font-size: 0.875rem
    font-weight: bold
    text-transform: uppercase
    color: #fff
    display: flex
    gap: 24px
    justify-content: space-between
    padding: 17px 24px
    align-items: center
    border-radius: 8px
    transition: all 0.3s
    & span
        z-index: 1
    &:hover
        color: var(--blue)
        .btn__arrow
            background-image: url(./../images/icon-arrow-blue.svg)
    &::before
        content: ''
        position: absolute
        left: 0
        width: 100%
        height: 100%
        background-color: var(--blue)
        z-index: 0
    &::after
        background: #fff
        content: ''
        position: absolute
        z-index: 0
    &::after
        transition: all 0.3s
        left: 0
        top: 0
        width: 0
        height: 100%
    &:hover:after
        width: 100%
    &__arrow
        width: 24px
        height: 24px
        background: url(./../images/icon-arrow.svg) no-repeat

.btn-grey
    border-color: #DDD
    color: var(--black)
    &::before
        background-color: #fff
    &::after
        background-color: var(--blue)
    .btn__arrow
        background-image: url(./../images/icon-arrow-black.svg)
    &:hover
        border-color: var(--blue)
        color: #fff
        .btn__arrow
            background-image: url(./../images/icon-arrow.svg)

.link
    text-decoration: none
    &:hover
        color: var(--green-dark)

.list
    display: flex
    flex-direction: column
    gap: 16px
    margin-bottom: 48px
    &__item
        display: flex
        gap: 12px
        font-size: 1rem
        &-marker
            flex: 0 0 48px
            color: var(--green-dark)
        &-body

.title
    font-size: 2.875rem
    font-weight: bold
    line-height: 1.05
    margin-bottom: 48px

.subtitle
    font-size: 2rem
    font-weight: bold
    line-height: 1.05
    margin-bottom: 24px

.card
    padding: 16px
    border-radius: 8px
    border: 1px solid #E6E6E6
    color: var(--black)
    display: flex
    flex-direction: column
    justify-content: space-between
    &__header
        margin-bottom: 24px
        font-size: 3.75rem
        line-height: 0.8
        small
            font-size: 1rem
            vertical-align: top
            position: relative
            top: 3px
    &__body
        font-size: 1rem

.header
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 1
    color: #fff
    display: flex
    flex-direction: column
    transition: 0.3s all
    padding-top: 32px
    &__contacts-mobile
        display: none
    &__contacts-tg
        width: 32px
        height: 32px
        &:hover
            color: var(--green-dark)
    &__header
        height: 60px
        flex-shrink: 0
        .container
            display: flex
            justify-content: space-between
            align-items: stretch
    &__body
        display: none
        padding-top: 36px
        padding-bottom: 48px
        flex-grow: 1
        flex-direction: column
        justify-content: space-between
        max-height: calc(100svh - 80px)
        overflow-y: auto
    &__nav
        display: flex
        flex-direction: column
        margin-bottom: 48px
        &-item
            padding: 12px 0
            border-bottom: 1px solid #E6E6E6
            font-size: 2rem
            line-height: 1.05
            font-weight: bold
            text-align: center
            &:hover
                color: var(--green-dark)
                border-color: var(--green-dark)
    &__logo
        display: flex
        justify-content: flex-start
        align-items: center
        width: 150px
        &-picture
            background: url('./../images/logo.svg') no-repeat center center/contain
            width: 135px
            height: 48px
    &__contacts
        display: flex
        align-items: center
        margin-top: 6px
        margin-bottom: 6px
        &-border
            display: inline-block
            width: 1px
            height: 100%
            border-right: 1px solid rgba(255, 255, 255, 0.30)
            margin: 0 24px
        & > .link
            width: 150px
    &__burger
        width: 150px
        display: flex
        justify-content: flex-end
    
    .sup-vertical
        display: none

    &.is-active
        position: fixed
        background-color: #fff
        color: var(--black)
        height: 100%
        z-index: 3
        .header__header
            border-color: #E6E6E6
        .header__body
            display: flex
        .btn-burger__icon
            background-image: url(./../images/icon-burger-close.svg)
        .header__contacts-border
            border-color: #E6E6E6
        .header__logo-picture
            background-image: url('./../images/logo-blue.svg')
        .sup-vertical
            display: none !important

    &.is-fixed
        position: fixed
        background-color: #fff
        color: var(--black)
        z-index: 3
        padding-top: 16px
        padding-bottom: 16px
        .header__header
        .header__contacts-border
            border-color: #E6E6E6
        .header__logo-picture
            background-image: url('./../images/logo-blue.svg')
        .sup-vertical
            display: block

.btn-burger
    position: relative
    overflow: hidden
    background-color: var(--green)
    width: 60px
    height: 60px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 8px
    // right: -48px
    &::after
        background: var(--green-dark)
        content: ''
        position: absolute
        z-index: 0
    &::after
        transition: all 0.3s
        left: 0
        top: 0
        width: 0
        height: 100%
    &:hover:after
        width: 100%
    &__icon
        position: relative
        z-index: 1
        display: block
        width: 24px
        height: 24px
        background: url(./../images/icon-burger.svg) no-repeat

.main
    position: relative
    z-index: 0
    color: #fff
    height: 100vh
    height: 100svh
    display: flex
    align-items: flex-end
    justify-content: center
    &__bgs
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        opacity: 0
        transition: 1s opacity
        z-index: -2
        &.is-active
            opacity: 1
            z-index: 0
        &.is-next
            z-index: -1
    &__bg-1
        background-image: url("./../images/main-1.jpg")
        background-image: -webkit-image-set(url("./../images/main-1.webp") type("image/webp"), url("./../images/main-1.jpg") type("image/jpeg"))
        background-image: image-set(url("./../images/main-1.webp") type("image/webp"), url("./../images/main-1.jpg") type("image/jpeg"))
    &__bg-2
        background-image: url("./../images/main-2.jpg")
        background-image: -webkit-image-set(url("./../images/main-2.webp") type("image/webp"), url("./../images/main-2.jpg") type("image/jpeg"))
        background-image: image-set(url("./../images/main-2.webp") type("image/webp"), url("./../images/main-2.jpg") type("image/jpeg"))
    &__bg-3
        background-image: url("./../images/main-3.jpg")
        background-image: -webkit-image-set(url("./../images/main-3.webp") type("image/webp"), url("./../images/main-3.jpg") type("image/jpeg"))
        background-image: image-set(url("./../images/main-3.webp") type("image/webp"), url("./../images/main-3.jpg") type("image/jpeg"))
    &::before
        top: 0
        left: 0
        position: absolute
        z-index: 1
        content: ""
        display: block
        width: 100%
        height: 180px
        opacity: 0.5
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.00) 100%)
    &::after
        top: 0
        left: 0
        position: absolute
        content: ""
        display: block
        width: 100%
        height: 100%
        background: rgba(15, 29, 45, 0.30)
    &__body
        position: relative
        z-index: 1
        padding-top: 92px
        padding-bottom: 48px
        height: 100vh
        height: 100svh
        > .container 
            height: 100%
            display: flex
            flex-direction: column
            justify-content: flex-end
    &__title
        font-size: 4.5rem
        line-height: 1.05
        text-align: center
        flex: 1 0 auto
        display: flex
        align-items: center
        &-icons
            vertical-align: middle
    &__content-wrapper
        display: flex
        align-items: flex-start
        align-items: stretch
    &__benefits
        display: flex
        flex-wrap: wrap
        align-content: flex-end
        &-item
            margin-right: 12px
            margin-bottom: 12px
            padding: 12px 16px
            align-items: center
            border-radius: 8px
            background: rgba(255, 255, 255, 0.40)
            backdrop-filter: blur(25px)
            -webkit-backdrop-filter: blur(25px)
    &__request
        min-width: 550px
        display: grid
        background-color: #fff
        border-radius: 8px
        padding: 16px
        gap: 16px
        grid-template-columns: 1fr 1fr
        .btn
            grid-column: 1/3
    &__request-mobile
        display: none

.success
    width: 68px
    height: 68px
    border-radius: 8px
    background: url(./../images/icon-success.svg) center center no-repeat
    background-size: 24px 24px
    background-color: #fff
    &--green
        background-color: var(--green)

.request
    background-color: var(--green)
    border-radius: 8px
    display: grid
    grid-template-columns: 1fr 1fr
    &__form
        padding: 48px
        border-right: 1px solid rgba(255, 255, 255, 0.30)
        display: flex
        flex-direction: column
        justify-content: space-between

        &-success
            justify-content: center
            align-items: center
            gap: 0
            height: 100%
            .success
                margin-bottom: 40px
            .title
                margin-bottom: 20px

        &-steps
            overflow: hidden
            display: grid
            grid-template-columns: 1fr 1fr
        &-step
            position: relative
            transition: 0.3s all
            left: 0
        &-hint
            color: rgba(15, 29, 45, 0.50)
            font-size: 1rem
            > button
                text-decoration: underline
                &:hover
                    text-decoration: none
        &-current-step-text
            font-size: 1rem
        &-controls-wrapper
            display: flex
            justify-content: space-between
            align-items: center
        &-controls
            display: flex
            gap: 12px
            width: 100%
            .btn
                width: 100%
        &-row
            margin-bottom: 16px
            &-columns
                display: grid
                grid-template-columns: 1fr 1fr
                gap: 32px
        &-row-40
            margin-bottom: 40px
        &-suggestions
            color: rgba(15, 29, 45, 0.50)
            font-size: 1rem
            display: flex
            gap: 12px
            flex-wrap: wrap
            &-btn
                color: var(--black)
                border-bottom: 1px solid rgba(15, 29, 45, 0.15)
        &-title
            font-size: 2.875rem
            font-weight: bold
            line-height: 1.05
            margin-bottom: 32px
        &-text
            margin-bottom: 32px

    &__form-2
        .request__form
            &-title
                margin-bottom: 20px
            &-controls
                width: auto
                .btn
                    width: auto

    &__image
        padding: 48px
        &-picture
            width: 100%
            border-radius: 8px
    &__slider
        border-top: 1px solid rgba(255, 255, 255, 0.30)
        position: relative
        padding: 68px 0 48px
        grid-column: 1/3
        &-title
            text-align: center
            margin-bottom: 32px
            font-size: 2rem
            font-weight: bold

.list-slider
    list-style-type: none
    display: flex
    overflow: hidden
    position: relative
    gap: 12px
    &:nth-child(3)
        margin-top: 12px
    &::before,
    &::after
        position: absolute
        content: ""
        display: block
        left: 0
        top: 0
        height: 100%
        width: 48px
        background: linear-gradient(90deg, #64BB9B 0%, rgba(100, 187, 155, 0.00) 100%)
        z-index: 1
    &::after
        left: unset
        right: 0
        transform: rotate(180deg)
    &__item
        position: relative
        animation: runningline 15s linear infinite
        padding: 16px
        border-radius: 8px
        background-color: #fff
        font-size: 1rem
        display: flex
        align-items: center
        flex-shrink: 0
        width: 384px
        &-icon
            margin-right: 16px
    // &:hover
    //     .list-slider__item
    //         animation: none

.list-slider--opposite
    .list-slider__item
        animation-name: runningline-opposite


@keyframes runningline
    from
        left: 0px
    to
        left: -1980px

@keyframes runningline-opposite
    from
        left: -1980px
    to
        left: 0px

.solutions
    position: relative
    background-color: #021F3C
    color: #fff
    padding: 48px
    &__title
        font-size: 3.75rem
        line-height: 1.05
        font-weight: bold
        max-width: 775px
        margin-bottom: 48px
    &__cards
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr
        gap: 24px

.solution-card
    display: flex
    flex-direction: column
    justify-content: space-between
    color: var(--black)
    border-radius: 8px
    padding: 16px
    height: 400px
    &:nth-child(1)
        background-color: #C9BAF3
    &:nth-child(2)
        background-color: #BAF3C6
    &:nth-child(3)
        background-color: #F3BABA
    &:nth-child(4)
        background-color: #F3E0BA
    &:nth-child(5)
        background-color: #BECEE1
    &:nth-child(6)
        background-color: #6FC9A8
    &__title
        font-size: 2rem
        font-weight: bold
        line-height: 1.05
        margin-bottom: 12px
    &__body
        font-size: 1rem
    &__image
        align-self: flex-end
        &-picture
            width: 100%
            border-radius: 8px

.delivery
    position: relative
    .container
        display: grid
        grid-template-columns: 50% 50%
    // &__content
    &__title
        font-size: 3.75rem
        line-height: 1.05
        font-weight: bold
        margin-bottom: 24px
    &__text
        font-size: 1.3125rem
        margin-bottom: 48px
    &__hint
        font-size: 1rem
        margin-bottom: 16px
    &__care-list
        display: flex
        flex-wrap: wrap
        gap: 12px
    &__care-item
        padding: 12px 12px 12px 16px
        border-radius: 8px
        border: 1px solid #E6E6E6
        font-size: 1rem
        display: flex
        align-items: center
        &-icon
            margin-left: 12px
            width: 24px
            height: 24px
            border-radius: 100%
            display: flex
            align-items: center
            justify-content: center
            background-color: var(--green)
            svg
                width: 16px
                height: 16px
        &:hover
            .delivery__care-item-icon
                color: #fff
                background-color: var(--blue)
    &__vehicle
        padding: 48px
        padding-right: 0
        &-wrapper
            background: url(./../images/vehicle-list.svg) no-repeat
            background-position: right 370px center
            background-size: contain
            display: flex
            justify-content: flex-end
            position: relative
        &-image
            position: relative
            width: 450px
            height: 450px
            &-picture
                position: absolute
                left: 50%
                transform: translateX(-50%)
                right: 0px
                width: auto
                height: 100%
                opacity: 0
                z-index: -1
                transition: 0.3s all
                &.is-active
                    z-index: 0
                    opacity: 1
        &-list
            position: absolute
            display: flex
            flex-direction: column
            gap: 80px
            right: 477px
            top: 50%        
            transform: translateY(-50%)
            &-btn
                white-space: nowrap
                position: relative
                font-size: 1rem
                text-align: right
                transition: all 0.1s
                padding-right: 20px
                // text-align: center
                &:first-child,
                &:last-child
                    right: -41px
                &-marker
                    position: absolute
                    right: 0
                    top: 7px
                    box-shadow: 0 0 0 4px rgba(100, 187, 155, 0.15)
                    display: inline-block
                    width: 8px
                    height: 8px
                    border-radius: 100%
                    background-color: var(--black)
                &.is-active
                    color: var(--green)
                    font-weight: bold
                    &:first-child,
                    &:last-child
                        // right: -44px
                    .delivery__vehicle-list-btn
                        &-marker
                            top: 5px
                            right: -2px
                            background-color: var(--green)
                            width: 12px
                            height: 12px
                &:hover
                    .delivery__vehicle-list-btn
                        &-marker
                            background-color: var(--green)
        &-list-mobile
            display: none

.contacts
    position: relative
    margin-bottom: 92px
    &__title
        font-size: 3.75rem
        font-weight: bold
        line-height: 1.05
        margin-bottom: 48px
    &__cards
        display: grid
        align-items: stretch
        grid-template-columns: 1fr 1fr 1fr
        gap: 24px
    .btn
        padding: 10px 16px
        background-color: transparent
        &::before
            background-color: transparent

.contacts-card
    border-radius: 8px
    background: #F6F6F6
    padding: 16px
    display: flex
    flex-direction: column
    justify-content: space-between
    &__city
        margin-bottom: 16px
        font-size: 2rem
        font-weight: bold
        line-height: 1.05
        position: relative
        padding-left: 32px
        &::before
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            display: block
            content: ""
            width: 16px
            height: 16px
            border-radius: 100%
            background-color: #6FC9A8
            box-shadow: 0 0 0 4px rgba(100, 187, 155, 0.15)
    &__text
        margin-bottom: 8px
        font-size: 1rem
    &__map-link
        margin-top: 16px
    &__image
        border-radius: 8px
        overflow: hidden
        margin-top: 24px
        &-picture
            transition: 0.8s all
            width: 100%
            border-radius: 8px
    &:hover
        .contacts-card
            &__image
                &-picture
                    transform: scale(1.08)

.about
    display: flex
    flex-direction: column
    position: relative
    min-height: calc(100vh - 92px)
    height: auto
    background: no-repeat center center/cover
    background-image: url("./../images/about.jpg")
    background-image: -webkit-image-set(url("./../images/about.webp") type("image/webp"), url("./../images/about.jpg") type("image/jpeg"))
    background-image: image-set(url("./../images/about.webp") type("image/webp"), url("./../images/about.jpg") type("image/jpeg"))
    color: #fff
    padding: 48px 0
    .container
        height: 100%
        display: flex
        flex-grow: 1
    &__body
        width: 50%
        display: flex
        justify-content: space-between
        flex-direction: column
    &__motto
        font-size: 0.875rem
        letter-spacing: 0.175rem
        text-transform: uppercase
        margin-bottom: 4px
        opacity: 0.7
        font-weight: bold
    &__title
        font-size: 3.75rem
        font-weight: bold
        line-height: 1.05
        margin-bottom: 20px
    &__text
        font-size: 1.3125rem
        max-width: 35ch
    &__info-box
        min-height: 50%
        margin-top: 48px
        background-color: #fff
        color: var(--black)
        padding: 16px
        border-radius: 4px
        display: grid
        grid-template-rows: 1fr 1fr
        grid-template-columns: 1fr 1fr
        gap: 16px
    &__card--first
        border-color: var(--green)
        background-color: var(--green)
        grid-column: 1/3

.map
    position: relative
    &__hint
        margin-bottom: 12px
    &__countries
        margin-bottom: 48px
        display: flex
        gap: 32px
        overflow: hidden
        height: 63px
        // scroll-snap-type: x mandatory
    &__btn-country
        font-size: 2rem
        font-weight: bold
        line-height: 1.05
        white-space: nowrap
        scroll-snap-align: start
        &:hover
            color: var(--green-dark)
        &.is-active
            color: var(--green-dark)
            font-size: 3.75rem
            margin-top: -10px

    &__globe-country-text
        position: absolute
        font-size: 1rem
        text-transform: uppercase
        font-weight: bold
    &__globe-country-na
        top: 310px
        left: 338px
        width: 90px

    &__globe
        position: relative
        max-height: 705px
        aspect-ratio: 1214/705
    &__picture
        width: 100%
        max-height: 705px
    &__picture-countries-titles
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
    &__picture-country
        position: absolute
        opacity: 0
        transition: all 0.1s
        width: 100%
        height: 100%
        top: 0
        left: 0
        &.is-active
            opacity: 1


// .map__mid-east
    // top: 285px
    // left: 667px
    // width: 174px
    // height: 122px
    // width: 100%
    // height: 100%
    // top: 0
    // left: 0

.footer
    font-size: 0.875rem
    padding-bottom: 48px
    .container
        display: flex
        justify-content: space-between


.contact-form
    &__hint
        color: rgba(15, 29, 45, 0.50)
        font-size: 1rem
        > button
            text-decoration: underline
            &:hover
                text-decoration: none
    &__send
        margin-top: 48px


.popup
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(15, 29, 45, 0.8)
    z-index: 4
    opacity: 0
    transition: opacity 0.3s
    &.is-shown
        opacity: 1
    .container
        position: relative
    &__side-close
        position: absolute
        right: 24px
        top: 24px
        width: 24px
        height: 24px
        z-index: 5
        .icon-svg
            width: 24px
            height: 24px
    &__close
        position: absolute
        right: 24px
        top: -24px
        width: 24px
        height: 24px
        z-index: 4
        .icon-svg
            width: 24px
            height: 24px
    &__title
        font-size: 2.875rem
        line-height: 1.05
        font-weight: bold
        margin-bottom: 20px

.popup-bottom
    position: absolute
    bottom: 0
    min-height: 300px
    width: 100%
    background-color: #fff
    padding: 48px 0

.popup-side
    position: absolute
    right: 0
    top: 0
    width: 50%
    height: 100vh
    overflow-y: auto
    padding: 48px
    background-color: #fff

@import media.sass